{% extends 'apps/base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block content%}
<body>
  <link type="text/css" rel="stylesheet" href="{% static 'css/posts.css' %}"/>
  <p><h3>Posts:</h3></p>
  {% if user.is_authenticated %}
    <p><a href="{% url 'apps:new_post' %}">Add Post</a></p>
    <ul>
    {% for post in posts %}
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'apps:post' post.id %}">{{ post }}</a>
            </h4>
            <p class="card-text">{{ post.posted_at }}</p>
          </div>
        </div>
      </div>
      
    {% empty %}
      <li>No posts yet.</li>
    {% endfor %}
    </ul>
  {% else %}
    <ul>
    {% for post in posts %}
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'apps:post' post.id %}">{{ post }}</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
    </div>  
      
    
    {% empty %}
      <li>No posts yet.</li>
    {% endfor %}
    </ul>
  {% endif %}
</body>
{% endblock content %}