{% extends 'apps/base.html' %}

{% load bootstrap5 %}

{% load static %}

{% block content %}

  <body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>
    <div class="form-group">
      <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Register</h5>
                  <form class="form-signin">
                    <div class="form-label-group">
                      <input type="text" name="username" placeholder="Username" maxlength="150" autocomplete="username" required="" id="id_username">
                    </div>
                  </br>
                    <div class="form-label-group">
                      <input type="password" name="password1" placeholder="Password" required="" id="id_password1">
                    </div>
                  </br>
                    <div class="form-label-group">
                      <input type="password" name="password2" placeholder="Password Confirmation" required="" id="id_password2">
                    </div>
                  </br>
                    <button class="btn btn-md btn-primary" type="submit">Register</button>
                    <hr class="my-4">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
 

{% endblock content %}